:root {
  --navbar: #5d5656;
  --bg: #1e1e1e;
  --space: 12px;
  --border: 8px;
}

html,
body {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
}

.navbar {
  background-color: var(--navbar);
  padding: var(--space);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: var(--border);
  margin: var(--space);
  margin-bottom: 6px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 3px 5px;
  background-color: var(--bg);
  border-radius: var(--border);
}

.navbar a:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.sidebar {
  background-color: var(--navbar);
  color: white;
  padding: var(--space);
  margin: var(--space);
  border-radius: var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 6px;
  margin-right: 6px;

  overflow-y: auto;
  min-height: 0;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 7px;
  margin: 5px;
  width: calc(100% - 20px);

  background-color: var(--bg);
  border-radius: var(--border);

  text-decoration: none;
  color: white;
}

.sidebar-item:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.main-content {
  background-color: var(--navbar);
  display: flex;
  flex-direction: column;
  color: white;
  margin: var(--space);
  border-radius: var(--border);
  margin-top: 6px;
  margin-left: 6px;

  justify-content: center;
  align-items: center;
  flex: 1;

  overflow: hidden;
}

.main-content a {
  padding: var(--space);
  background-color: #3a9ced;
  margin: 5px 5px;
  border-radius: var(--border);
  color: white;
  text-decoration: none;
}

.main-content a:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-area input {
  accent-color: #656769;
  background-color: var(--bg);
  margin: var(--space);
  border-radius: var(--border);
  color: white;
  width: 300px;
}

.input-box textarea {
  accent-color: #656769;
  background-color: var(--bg);
  margin: var(--space);
  border-radius: var(--border);
  color: white;
}

.checkbox input[type="checkbox"] {
  accent-color: #3a9ced;
  width: 20px;
  height: 20px;
  margin-left: var(--border);
}

.disabled-link {
  pointer-events: none;
  filter: saturate(30%);
  opacity: 0.7;
}

.add-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.look-file {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
